.clearfix:after{content:&quot;\0020&quot;;display:block;height:0;clear:both;visibility:hidden;overflow:hidden}
#container,#header,#main,#main-fullwidth,#footer,.clearfix{display:block}
.clear{clear:both}
body {font-family:&#39;Roboto&#39;, Arial, Helvetica, Sans-serif;}
.post-body {font-family:&#39;Roboto&#39;, Arial, Helvetica, Sans-serif;}
h1,h2,h3,h4,h5,h6{margin-bottom:16px;font-weight:normal;line-height:1}
h1{font-size:40px}
h2{font-size:30px}
h3{font-size:20px}
h4{font-size:16px}
h5{font-size:14px}
h6{font-size:12px}
h1 img,h2 img,h3 img,h4 img,h5 img,h6 img{margin:0}
table{margin-bottom:20px;width:100%}
th{font-weight:bold}
thead th{background:#c3d9ff}
th,td,caption{padding:4px 10px 4px 5px}
tr.even td{background:#e5ecf9}
tfoot{font-style:italic}
caption{background:#eee}
li ul,li ol{margin:0}
ul,ol{margin:0 20px 20px 0;padding-left:40px}
ul{list-style-type:disc}
ol{list-style-type:decimal}
dl{margin:0 0 20px 0}
dl dt{font-weight:bold}
dd{margin-left:20px}
blockquote{margin:20px;color:#666;}
pre{margin:20px 0;white-space:pre}
pre,code,tt{font:13px &#39;andale mono&#39;,&#39;lucida console&#39;,monospace;line-height:18px}
#search {overflow:hidden;}
#header h1{font-family:&#39;Oswald&#39;,Arial,Helvetica,Sans-serif;}
#header .description{font-family:Roboto,Arial,Helvetica,Sans-serif;}
.post-title {font-family:&#39;Oswald&#39;,sans-serif;}
.sidebar h2{font-family:&#39;Oswald&#39;,sans-serif;}
#footer-widgets .widgettitle, #footer-widgets .widget h2{font-family:&#39;Oswald&#39;,Arial,Helvetica,Sans-serif;}
.menus,.menus *{margin:0;padding:0;list-style:none;list-style-type:none;line-height:1.0}
.menus ul{position:absolute;top:-999em;width:100%}
.menus ul li{width:100%}
.menus li:hover{visibility:inherit}
.menus li{float:left;position:relative}
.menus a{display:block;position:relative}
.menus li:hover ul,.menus li.sfHover ul{left:0;top:100%;z-index:99}
.menus li:hover li ul,.menus li.sfHover li ul{top:-999em}
.menus li li:hover ul,.menus li li.sfHover ul{left:100%;top:0}
.menus li li:hover li ul,.menus li li.sfHover li ul{top:-999em}
.menus li li li:hover ul,.menus li li li.sfHover ul{left:100%;top:0}
.sf-shadow ul{padding:0 8px 9px 0;-moz-border-radius-bottomleft:17px;-moz-border-radius-topright:17px;-webkit-border-top-right-radius:17px;-webkit-border-bottom-left-radius:17px}
.menus .sf-shadow ul.sf-shadow-off{background:transparent}
.menu-primary-container{ padding:0;  position:relative;  height:40px;  box-shadow:inset 0 1px 0 0 #8C3A14;  z-index:400;  background-image:-webkit-gradient(linear,top,bottom,color-stop(0,#F1D9B6),color-stop(1,#E1BC85));  background-image:-ms-linear-gradient(top,#F1D9B6,#E1BC85);  background-image:-o-linear-gradient(top,#F1D9B6,#E1BC85);  background-image:-moz-linear-gradient(top,#F1D9B6,#E1BC85);  background-image:-webkit-linear-gradient(top,#F1D9B6,#E1BC85);  background-image:linear-gradient(to bottom,#F1D9B6,#E1BC85)}
.menu-primary{}
.menu-primary ul{min-width:160px}
.menu-primary li a{ color:#822B05;  padding:14px 15px 13px 15px; text-decoration:none;  font-family:&#39;Oswald&#39;,sans-serif;  font-size:13px; line-height:13px;  text-transform:uppercase;  font-weight:normal;  margin:0 3px 0 0}
.menu-primary li a:hover, .menu-primary li a:active, .menu-primary li a:focus, 
.menu-primary li:hover &gt;a, .menu-primary li.current-cat &gt;a, .menu-primary li.current_page_item &gt;a, .menu-primary li.current-menu-item &gt;a{ color:#DF7707;  outline:0;  border-top:2px solid #842D05;  background-image:-webkit-gradient(linear,top,bottom,color-stop(0,#FEF1DF),color-stop(1,#ECCB9D));  background-image:-ms-linear-gradient(top,#FEF1DF,#ECCB9D);  background-image:-o-linear-gradient(top,#FEF1DF,#ECCB9D);  background-image:-moz-linear-gradient(top,#FEF1DF,#ECCB9D);  background-image:-webkit-linear-gradient(top,#FEF1DF,#ECCB9D);  background-image:linear-gradient(to bottom,#FEF1DF,#ECCB9D);  margin:-2px 3px 0 0}
.menu-primary li li a{color:#CE6E06;  text-transform:none;  background:#EECFA4;  padding:10px 15px;  margin:0;  border:0;  font-weight:normal}
.menu-primary li li a:hover, .menu-primary li li a:active, .menu-primary li li a:focus, 
.menu-primary li li:hover &gt;a, .menu-primary li li.current-cat &gt;a, .menu-primary li li.current_page_item &gt;a, .menu-primary li li.current-menu-item &gt;a{color:#CE6E06;  background:#FBEAD3;  outline:0;  border-bottom:0;  text-decoration:none;  margin:0;  border-top:0}
.menu-primary a.sf-with-ul{ padding-right:20px;  min-width:1px}
.menu-primary .sf-sub-indicator{ position:absolute;  display:block;  overflow:hidden;  right:0;  top: 0;  padding:13px 10px 0 0}
.menu-primary li li .sf-sub-indicator{ padding:9px 10px 0 0}
.wrap-menu-primary .sf-shadow ul{    background:url(&#39;http://2.bp.blogspot.com/-yJEVDRBnC84/U0gSUE-mEkI/AAAAAAAAITE/O_6skeIgjUw/s1600/menu-primary-shadow.png&#39;) no-repeat bottom right}
.menu-secondary-container{ position:relative;  height:40px;  z-index:300;  background:none}
.menu-secondary{}
.menu-secondary ul{ min-width:160px}
.menu-secondary li a{ color:#822B05;  padding:14px 15px 13px 15px; text-decoration:none;  font-family:&#39;Oswald&#39;,sans-serif;  font-size:13px; line-height:13px;  text-transform:uppercase;  font-weight:normal}
.menu-secondary li a:hover, .menu-secondary li a:active, .menu-secondary li a:focus, 
.menu-secondary li:hover &gt;a, .menu-secondary li.current-cat &gt;a, .menu-secondary li.current_page_item &gt;a, .menu-secondary li.current-menu-item &gt;a{ color:#F48E18;  background:none;  outline:0}
.menu-secondary li li a{color:#F48E18;  background:#EAD5B7;  padding:10px 15px;  text-transform:none;  margin:0;  font-weight:normal}
.menu-secondary li li a:hover, .menu-secondary li li a:active, .menu-secondary li li a:focus, 
.menu-secondary li li:hover &gt;a, .menu-secondary li li.current-cat &gt;a, .menu-secondary li li.current_page_item &gt;a, .menu-secondary li li.current-menu-item &gt;a{color:#F48E18;  background:#FEE7C6;  outline:0}
.menu-secondary a.sf-with-ul{ padding-right:26px;  min-width:1px}
.menu-secondary .sf-sub-indicator{ position:absolute;  display:block;  overflow:hidden;  right:0;  top: 0;  padding:13px 13px 0 0}
.menu-secondary li li .sf-sub-indicator{ padding:9px 13px 0 0}
.wrap-menu-secondary .sf-shadow ul{    background:url(&#39;http://3.bp.blogspot.com/-gj1q2zO76z0/U0gSUmjAWLI/AAAAAAAAITU/k_7YAUwcO74/s1600/menu-secondary-shadow.png&#39;) no-repeat bottom right}
.fp-slider{margin:0 auto 15px auto;padding:0px;width:615px;height:332px;overflow:hidden;position:relative;}
.fp-slides-container{}
.fp-slides,.fp-thumbnail,.fp-prev-next,.fp-nav{width:615px;}
.fp-slides,.fp-thumbnail{height:300px;overflow:hidden;position:relative}
.fp-title{color:#fff;text-shadow:0px 1px 0px #000;font:bold 18px Arial,Helvetica,Sans-serif;padding:0 0 2px 0;margin:0}
.fp-title a,.fp-title a:hover{color:#fff;text-shadow:0px 1px 0px #000;text-decoration:none}
.fp-content{position:absolute;bottom:0;left:0;right:0;background:#6a6153;opacity:0.7;filter:alpha(opacity = 70);padding:10px 15px;overflow:hidden}
.fp-content p{color:#fff;text-shadow:0px 1px 0px #000;padding:0;margin:0;line-height:18px}
.fp-more,.fp-more:hover{color:#fff;font-weight:bold}
.fp-nav{height:12px;text-align:center;padding:10px 0;background:#b09b7c;}
.fp-pager a{background-image:url(http://3.bp.blogspot.com/-_668d43Op_0/T2aDUoc25DI/AAAAAAAAEKY/psYROX1ZRhA/s1600/featured-pager.png);cursor:pointer;margin:0 8px 0 0;padding:0;display:inline-block;width:12px;height:12px;overflow:hidden;text-indent:-999px;background-position:0 0;float:none;line-height:1;opacity:0.7;filter:alpha(opacity = 70)}
.fp-pager a:hover,.fp-pager a.activeSlide{text-decoration:none;background-position:0 -112px;opacity:1.0;filter:alpha(opacity = 100)}
.fp-prev-next-wrap{position:relative;z-index:200}
.fp-prev-next{position:absolute;bottom:130px;left:0;right:0;height:37px}
.fp-prev{margin-top:-180px;float:left;margin-left:14px;width:37px;height:37px;background:url(http://3.bp.blogspot.com/-ZRxI7cg9obU/T2aDVpbxNOI/AAAAAAAAEKg/segBpoEkvss/s1600/featured-prev.png) left top no-repeat;opacity:0.6;filter:alpha(opacity = 60)}
.fp-prev:hover{opacity:0.8;filter:alpha(opacity = 80)}
.fp-next{margin-top:-180px;float:right;width:36px;height:37px;margin-right:14px;background:url(http://2.bp.blogspot.com/-PAv4EZRomGI/T2aDUGqVfCI/AAAAAAAAEKQ/kwsDqWHBhH8/s1600/featured-next.png) right top no-repeat;opacity:0.6;filter:alpha(opacity = 60)}
.fp-next:hover{opacity:0.8;filter:alpha(opacity = 80)}
/* -- number page navigation -- */
#blog-pager {padding:6px;font-size:13px;}
#comment-form iframe{padding:5px;width:580px;height:275px;}
.tabs-widget{list-style:none;list-style-type:none;height:26px;margin:0 0 10px;padding:0;}
.tabs-widget li{list-style:none;list-style-type:none;float:left;margin:0 0 0 4px;padding:0;}
.tabs-widget li:first-child{margin:0;}
.tabs-widget li a{color:#B28648;background:#FAF5ED;font-family:Arial, Helvetica, Sans-serif;font-weight:bold;display:block;text-decoration:none;font-size:12px;line-height:12px;border:1px solid #E7CFAD;padding:6px 16px;}
.tabs-widget li a:hover,.tabs-widget li a.tabs-widget-current{background:#F0B47A;color:#FFF;border:1px solid #B48036;text-decoration:none;}
.tabs-widget-content{}
.tabviewsection{margin-top:10px;margin-bottom:10px;}
#crosscol-wrapper{display:none;}
.PopularPosts .item-title{font-weight:bold;padding-bottom:0.2em;text-shadow:0px 1px 0px #fff;}
.PopularPosts .widget-content ul li{padding:5px 0px;background:none}
.related-postbwrap{margin:10px auto 0;font-size:90%;}
.related-postbwrap h4{font-weight: bold;margin:0 0 .5em;}
.related-post-style-2,.related-post-style-2 li{list-style:none;margin:0;padding:0;}
.related-post-style-2 li{border-top:1px solid #eee;overflow:hidden;padding:10px 0px;}
.related-post-style-2 li:first-child{border-top:none;}
.related-post-style-2 .related-post-item-thumbnail{width:80px;height:80px;max-width:none;max-height:none;background-color:transparent;border:none;float:left;margin:2px 10px 0 0;padding:0;}
.related-post-style-2 .related-post-item-title{font-weight:bold;font-size:100%;}
.related-post-style-2 .related-post-item-summary{display:block;}
.breadcrumb-bwrap {line-height: 1.4;margin: 0 0 15px;padding: 5px;}
div.span-1,div.span-2,div.span-3,div.span-4,div.span-5,div.span-6,div.span-7,div.span-8,div.span-9,div.span-10,div.span-11,div.span-12,div.span-13,div.span-14,div.span-15,div.span-16,div.span-17,div.span-18,div.span-19,div.span-20,div.span-21,div.span-22,div.span-23,div.span-24{float:left;margin-right:10px}
.span-1{width:30px}.span-2{width:70px}.span-3{width:110px}.span-4{width:150px}.span-5{width:190px}.span-6{width:230px}.span-7{width:270px}.span-8{width:310px}.span-9{width:350px}.span-10{width:390px}.span-11{width:430px}.span-12{width:470px}.span-13{width:510px}.span-14{width:550px}.span-15{width:590px}.span-16{width:630px}.span-17{width:670px}.span-18{width:710px}.span-19{width:750px}.span-20{width:790px}.span-21{width:830px}.span-22{width:870px}.span-23{width:910px}.span-24,div.span-24{width:960px;margin:0}input.span-1,textarea.span-1,input.span-2,textarea.span-2,input.span-3,textarea.span-3,input.span-4,textarea.span-4,input.span-5,textarea.span-5,input.span-6,textarea.span-6,input.span-7,textarea.span-7,input.span-8,textarea.span-8,input.span-9,textarea.span-9,input.span-10,textarea.span-10,input.span-11,textarea.span-11,input.span-12,textarea.span-12,input.span-13,textarea.span-13,input.span-14,textarea.span-14,input.span-15,textarea.span-15,input.span-16,textarea.span-16,input.span-17,textarea.span-17,input.span-18,textarea.span-18,input.span-19,textarea.span-19,input.span-20,textarea.span-20,input.span-21,textarea.span-21,input.span-22,textarea.span-22,input.span-23,textarea.span-23,input.span-24,textarea.span-24{border-left-width:1px!important;border-right-width:1px!important;padding-left:5px!important;padding-right:5px!important}input.span-1,textarea.span-1{width:18px!important}input.span-2,textarea.span-2{width:58px!important}input.span-3,textarea.span-3{width:98px!important}input.span-4,textarea.span-4{width:138px!important}input.span-5,textarea.span-5{width:178px!important}input.span-6,textarea.span-6{width:218px!important}input.span-7,textarea.span-7{width:258px!important}input.span-8,textarea.span-8{width:298px!important}input.span-9,textarea.span-9{width:338px!important}input.span-10,textarea.span-10{width:378px!important}input.span-11,textarea.span-11{width:418px!important}input.span-12,textarea.span-12{width:458px!important}input.span-13,textarea.span-13{width:498px!important}input.span-14,textarea.span-14{width:538px!important}input.span-15,textarea.span-15{width:578px!important}input.span-16,textarea.span-16{width:618px!important}input.span-17,textarea.span-17{width:658px!important}input.span-18,textarea.span-18{width:698px!important}input.span-19,textarea.span-19{width:738px!important}input.span-20,textarea.span-20{width:778px!important}input.span-21,textarea.span-21{width:818px!important}input.span-22,textarea.span-22{width:858px!important}input.span-23,textarea.span-23{width:898px!important}input.span-24,textarea.span-24{width:938px!important}.last{margin-right:0;padding-right:0}
.last,div.last{margin-right:0}
.menu-primary-container{z-index:10 !important;}
.menu-secondary-container{z-index:10 !important;}
embed, img, object, video {max-width: 100%;}
.menu-primary-responsive-container, .menu-secondary-responsive-container  {display: none;margin: 10px;}
.menu-primary-responsive, .menu-secondary-responsive  {width: 100%;padding: 5px;border: 1px solid #ddd;}
@media only screen and (max-width: 768px) {
* {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
#outer-wrapper { width: 100%; padding: 0px; margin: 0px; }
#header-wrapper { width: 100%; padding: 10px; margin: 0px; height: auto;}
#header { width: 100%; padding: 10px 0px; margin: 0px; float: none;text-align:center; }
#header2 { width: 100%; padding: 0px; margin: 0px; float: none;text-align:center; }
#header a img {margin:0px auto;padding:0px !important;}
#header2 .widget { float: none;padding:0px !important; }
#content-wrapper { width: 100%; margin: 0px; padding: 10px;}
#main-wrapper { width: 100%; padding: 0px; margin: 0px; float: none; }
#sidebar-wrapper { width: 100%; padding: 0px; margin: 0px; float: none; }
#lsidebar-wrapper { width: 100%; padding: 0px; margin: 0px; float: none; }
#rsidebar-wrapper { width: 100%; padding: 0px; margin: 0px; float: none; }
.menu-primary-container, .menu-secondary-container {float: none;margin-left: 0;margin-right: 0;display: block;}
#top-social-profiles{float:none;width:100%;display:block;text-align:center;height:auto;}
#topsearch {float:none;margin:10px 10px 0px 10px;}
.fp-slider, #fb-root {display: none;}
.footer-widget-box { width: 100%; float: none; padding: 10px; margin: 0px;}
#footer {height:auto;}
#copyrights, #credits {width: 100%; padding: 5px 0px; margin: 0px; display: block;float: none;text-align: center;height:auto;} div.span-1,div.span-2,div.span-3,div.span-4,div.span-5,div.span-6,div.span-7,div.span-8,div.span-9,div.span-10,div.span-11,div.span-12,div.span-13,div.span-14,div.span-15,div.span-16,div.span-17,div.span-18,div.span-19,div.span-20,div.span-21,div.span-22,div.span-23,div.span-24{float:none;margin:0px}.span-1,.span-2,.span-3,.span-4,.span-5,.span-6,.span-7,.span-8,.span-9,.span-10,.span-11,.span-12,.span-13,.span-14,.span-15,.span-16,.span-17,.span-18,.span-19,.span-20,.span-21,.span-22,.span-23,.span-24,div.span-24{width:100%;margin:0;padding:0;} .last, div.last{margin:0;padding:0;}
}
@media only screen and (max-width: 480px) {
.menu-primary-responsive-container, .menu-secondary-responsive-container {display: block;}
.menu-primary-container, .menu-secondary-container {display: none;} 
#header-wrapper .menu-primary-responsive-container, #header-wrapper .menu-primary-responsive-container {margin-left: 0;margin-right: 0;width: 100%; }
}
@media only screen and (max-width: 320px) {
.tabs-widget {height: 52px;}
}