<!DOCTYPE html>
<html>
    <head>
        <title>URL Checker</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    </head>
    <body>
        
        <!--
        reference
        ==================
        - http://docs.angularjs.org/api/
        
        
        -->
        
        <script src="http://code.angularjs.org/1.2.0-rc.3/angular.min.js"></script>
        <script src="http://code.angularjs.org/1.2.0-rc.3/angular-sanitize.min.js"></script>
        <script>
            // AngularJS Script
            var URLCheckerCtrlApp = angular.module('URLCheckerCtrlApp', ['ngSanitize']);
            
            URLCheckerCtrlApp.controller("URLCheckerCtrl", function URLCheckerCtrl($scope, $templateCache, $sce, $timeout) {
                //$scope.urlText = "http://www.nccu.com.tw";
                $scope.urlText = "";
                $scope.textLine = 3; 
                $scope.timer = null;
                $scope.iframeHeight = 480;
                
                $scope.urlArray = [];
                /*
                $scope.urlArray = [
                    {
                        url: "http://www.nccu.com.tw/",
                        state: "queue"
                    },
                    {
                        url: "http://www.google.com.tw/",
                        state: "queue"
                    },
                    {
                        url: "http://www.edu.tw/",
                        state: "queue"
                    }
                ];
                */
                
                $scope.urlTextToArray = function () {
                    var _text = $scope.urlText;
                    var _lineArray = _text.split("\n");
                    //$scope.urlArray = [];
                    var _result = [];
                    for (var _line in _lineArray) {
                        var _url = _lineArray[_line];
                        if (_url.substr(0, 4) != "http") {
                            continue;
                        }
                        _result.push({
                            url: _lineArray[_line],
                            state: "queue"
                        });
                    }
                    $scope.urlArray = _result;
                    
                    var _scope = $scope;
                    //clearTimeout($scope.timer);
                    $timeout(function () {
                        console.log("a");
                        _scope.checkUrlArray(0);
                    }, 300);
                };
                
                $scope.setTextareaHeight = function () {
                    var _text = $scope.urlText;
                    var _lineArray = _text.split("\n");
                    
                    var _height = _lineArray.length + 2;
                    if (_height < 3) {
                        _height = 3;
                    }
                    $scope.textLine = _height;
                    
                    //clearTimeout($scope.timer);
                    var _scope = $scope;
                    $timeout(function () {
                        
                        console.log("b");
                        _scope.checkUrlArray(0);
                    }, 300);
                };
                
                $scope.startCheck = function () {
                    var _index = 0;
                    console.log(_index);
                    $scope.checkUrlArray(_index);
                };
                
                $scope.checkUrlArray = function (_index) {
                    console.log("$scope.checkUrlArray : " + _index);
                    $scope.setIframeURL(_index);
                    $scope.checkComplete(_index);
                };
                
                $scope.setURLChecking = function (_index) {
                    $scope.urlArray[_index].state = "checking";
                };
                
                $scope.setURLDead = function (_index) {
                    $scope.urlArray[_index].state = "dead";
                };
                
                $scope.setURLAlive = function (_index) {
                    $scope.urlArray[_index].state = "alive";
                    $scope.urlArray[_index].preview = false;
                };
                
                $scope.setIframeURL = function (_index) {
                    var _id = 'iframe' + _index;
                    //$("#"+_id).remove();
                    console.log("$scope.setIframeURL: " + _id);
                    console.log("<iframe src='"+$scope.urlArray[_index].url+"' id='"+_id+"'></iframe>");
                    /*$scope.urlArray[_index].iframeHTML = $sce.trustAsHtml("<iframe src='"+$scope.urlArray[_index].url+"' id='"+_id+"'></iframe>");*/
                    //$("#iframe"+ _index).html("<iframe src='"+$scope.urlArray[_index].url+"' id='"+_id+"'></iframe>");
                    $("#iframe"+ _index).attr("src",$scope.urlArray[_index].url)
                        .css("display", "block");
                    
                    
                    /*
                    $("#"+_id).load(function () {
                        var _title = $(this).contents().find("title").text();
                        //alert(_title);
                    });
                    */
                };
                
                $scope.checkComplete = function (_index) {
                    _index++;
                    if (_index < $scope.urlArray.length) {
                        //setTimeout(function () {}, 300);
                        $timeout(function () {
                            $scope.checkUrlArray(_index);
                        }, 3);
                    }
                };
                
                $scope.example = function () {
                    $scope.urlText = "http://www.nccu.edu.tw\nhttp://www.ntu.edu.tw\nhttp://www.ntnu.edu.tw";
                    //$scope.urlTextToArray();
                    $timeout(function () {
                        $scope.urlTextToArray();
                    }, 300);
                };
            });
        </script>
        <div ng-app="URLCheckerCtrlApp" ng-controller="URLCheckerCtrl" class="url-checker-20131026">
            <h4>批次開啟網頁 / Batch of Webpages Opener </h4>
            <label>
                請輸入網址，用分行區隔多個網址 (Please enter the URLs of webpages. Changing new line to split URLs)
                <button type="button" ng-click="example()">範例 EXAMPLE</button>
                <textarea placeholder="Enter URLs here" 
                    ng-model="urlText"
                    ng-change="urlTextToArray()" 
                    ng-keypress="setTextareaHeight()"
                    style="height: {{textLine}}em"></textarea>
            </label>
                
            <!-- <button ng-click="startCheck()">開始檢查</button> -->
            <label>頁框高度 / Preview window's height：<input type="text" ng-model="iframeHeight" size="5">px</label>
            <hr />
            <h5>網頁顯示 / Webpage preview</h5>
            <ul>
                <li ng-repeat="url in urlArray">
                    <a href="{{url.url}}" target="_blank" class="state-{{url.state}}">{{url.url}}</a>
                    <!--
                    <button ng-show="url.state == 'alive' && url.preview == false" ng-click="url.preview = true">開啟檢查網頁視窗</button>
                    <button ng-show="url.state == 'alive' && url.preview == true" ng-click="url.preview = false">關閉檢查網頁視窗</button>
                    -->
                    <iframe id="iframe{{$index}}" height="{{iframeHeight}}"></iframe>
                </li>
            </ul>
            
        <style type="text/css">
            .url-checker-20131026 textarea {
                width: 100%;
            }
            .url-checker-20131026 .state-queue {
                color: black;
            }
            .url-checker-20131026 .state-checking {
                color: blue;
            }
            .url-checker-20131026 .state-alive {
                color: green;
            }
            .url-checker-20131026 .state-dead {
                color: red;
            }
            .url-checker-20131026 iframe {
                width: 100%;
                display: none;
                
            }
             </style>
        </div>
    </body>
</html>
