
/************************************/

@media (min-width:767px) {
    #side-bar {
        /*display: none;*/
        width: 100%;
    }
    
    #sidebar > div.widget {
        float: left;
        width: calc(33% - 0.8em);
        margin-right: 1.2em;
    }
    
    #sidebar > div.widget .widget-content {
        min-height: 360px;
        max-height: 360px;
        overflow-y: auto;
        margin-bottom: 0;
    }
    
    .sidebar .widget {
        margin-bottom: 0;
    }
    
    #sidebar > div.widget:nth-of-type(3) {
        margin-right: 0;
    }
    
    #sidebar > .comments {
        display: none;
    }
    
    #content {
        width: 100% !important;
    }
    
    .popular-posts {
        padding-bottom: 0;
    }
}

@media (min-width:767px) and (max-width: 979px) {
    #sidebar > div.widget,
    #sidebar > div.widget:nth-of-type(3) {
        width: calc(50% - 0.5em);
        margin-right: 1em;
    }
    
    #sidebar > div.widget:nth-of-type(even) {
        margin-right: 0;
        clear: none;
    }
    
    #sidebar > div.widget:nth-of-type(odd) {
        clear: both;
        margin-bottom: 1em;
    }
    
    #sidebar > .comments {
        display: block;
    }
    
    
}

body .addthis-smartlayers {
    display: block !important;
}