
.entry-content {
    line-height: 200%;
}

.entry-content > p {
    text-indent: 2em;
}

.entry-content h4 {
    font-size: 24pt;
    color:#BD8242;
    margin-top: 1.5em;
    margin-bottom: 1em;
}

.entry-content h5 {
    font-size: 20pt;
    color:#BD8242;

    margin-top: 1.5em;
    margin-bottom: 1em;
}

.entry-content h6 {
    font-size: 18pt;
    font-style: italic;
    color:#634121;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.entry-content hr {
    border-top: 3px solid #CE8A42;
    border-bottom: 0px solid #BD8A39;
}

.entry-content ul,
.entry-content li {
    margin-left: 2em !important;
    margin-top:0.5em !important;
    margin-bottom:0.5em !important;
}

.entry-content li {
    list-style: square !important;
    line-height: 200%;
}

.entry-content blockquote {
    border-left-color: #F7EBDE;
}

.entry-content a {
    text-decoration: underline;
    color: #BD8242;
}

.entry-content h1 a {
    text-decoration: none;
    color: #333;
}

/* ************************ */

#Blog1_backlinks-container .comment-footer {
    margin-top: 10px;
}

#footer_bar_body {
    background: transparent;
}

/* *************************** */
.about-me .social-media {
    margin-top: 0.5em;
    text-align: center;
}
.about-me .email-subscribe {
    text-align: center;
    margin: 1em;
}

.about-me .widget-content {
    margin: 0 1em;
}

.about-me .email-subscribe td:first-of-type {
    text-align: left;
    padding-top: 0.7em;
}

.about-me .email-subscribe .follow-by-email-address {
    width: 95%;
}

.donation input[type="image"] {
    margin-top: 10px;
    margin-right: 10px;
}


#footerbar-popular-post .popular-posts > ul > dd {
    display:none;
}

#footerbar-popular-post .popular-posts > ul > dd:nth-of-type(1),
#footerbar-popular-post .popular-posts > ul > dd:nth-of-type(2),
#footerbar-popular-post .popular-posts > ul > dd:nth-of-type(3),
#footerbar-popular-post .popular-posts > ul > dd:nth-of-type(4),
#footerbar-popular-post .popular-posts > ul > dd:nth-of-type(5) {
    display:block;
}

.popular-posts {
    padding-bottom: 0.5em;
}

@media (max-width:979px) {
    #footer_bar {
        display: none;
    }
}

@media (max-width: 979px) {
    #menu-primary {
        background-color: #212021;
    }
    #menu-primary a {
        color:white;
    }
    .nav-collapse, .nav-collapse.collapse {
        top: -5px;
    }

}

.widget-content.popular-posts dd {
    margin-bottom: 0.5em;
    clear: both;
}
.widget-content.popular-posts img {
    float: left;
}

h1.title {
    font-size: 30px;
}
#header-inner .descriptionwrapper {
    font-size: 14px;
}

div.post-avatar {
    display:none;
}

.meta {
    margin-left: 0px !important;
}

/************************/
#content #archivespage ul {
    margin-left: 0 !important;
}

#content #archivespage li.archivedate {
    list-style: none !important;
}

/******************************/
/* 縮小寬度之下的導航列 */

.nav-search input.search_input,
.search-bar:hover .nav-search input {
    background-color: white;
    color: black !important;
    padding-left: 0.5em;
    border-radius: 3px;
    margin-top:27px;
}

#header h1 {
    line-height:30px;
    margin-top: 10px;
}

#masthead.fixed-nav.affix #header h1 {
    line-height: 22px;
}

@media (max-width: 460px) {
    #header .description {
        display: none;
    }
    #header {
        /*margin-top: 15px;*/
        margin-right:0 ;
        max-width: calc(100% - 90px);
        margin-left: 1em;
        overflow-x: hidden;
        white-space: nowrap;
    }

    #masthead {
        height: auto;
    }


    #header h1{
        line-height:55px;
        margin-top: 0;
    }

    #footer .management {
        margin-bottom: 70px;
    }
}

@media (max-width: 680px) {
    .search-bar {
        /*display: none;*/
        position: absolute;
        top: -1000px;
    }
    
    
    /*********************/
    .navbar .nav li.search {
        display: list-item !important;
    }

    .navbar .nav li.search form {
        margin: 0;
    }

    .navbar .nav li.search input {
        width: calc(100% - 100px);
        /*margin: 0 18px;*/
    }

    .navbar .nav li.search .srch_btn {
        height: 42px;
        width: 23px;
        margin-top: 0;
        background: url(//3.bp.blogspot.com/-h-x1pzE69JE/U5sUcTyNfAI/AAAAAAAAAdg/PYKJ6twHM1M/s1600/search-icon.png) 2px center no-repeat;
        text-indent: 9999px;
        position: relative;
        float: left;
        margin-left: 18px;
        margin-right: 10px;
        margin-top: -5px;
        display: inline !important;
        border-width: 0;
    }
    /*
    .search-bar {
        clear: both;
        padding-top: 0;
        padding-bottom: 5px;
    }
    .search-bar form {
        margin: 0;
    }
    .nav-search input {
        margin-top: 5px;
    }
    .navbar .btn-navbar {
        margin-bottom: 0;
    }

    .search-bar:hover .nav-search input {
        width:100%;
    }
    */
}

@media (max-width: 979px) {
    #header #header-inner{
        margin-left: 10px !important;
        margin-top: 15px;
    }
}

@media (max-width: 979px) {

    #content-wrapper {
        padding-top: 100px;
    }

    .nav-collapse.in.collapse .dropdown .dropdown-toggle {
        display:none;
    }

    .nav-collapse .dropdown-menu {
        display: block;
        margin: 0;
    }

    .navbar .nav .dropdown-menu li a {
        padding-left:18px !important;
    }

    .navbar .nav .dropdown-menu li a:hover, .navbar .nav .dropdown-menu li a:active, .navbar .nav .dropdown-menu li a:focus {
        border-left: 3px solid #85CCB1;
        padding-left:15px !important;
    }

    .navbar .nav .dropdown-menu li.active, .navbar .nav .dropdown-menu li:hover {
        background: none repeat scroll 0 0 rgba(255,255,255,0.02);
        color: #fff;
    }


    /************/
    #masthead {
        position: fixed !important;
    }

    #masthead.fixed-nav.affix .btn-navbar {
        margin-top: 5px;
        margin-bottom: 0;
    }

    #masthead.fixed-nav.affix #header h1 {
        line-height: 40px;
        margin-top: 0 !important;
    }

    #masthead.fixed-nav.affix #header-inner {
        margin-top: 10px !important;
    }

    #masthead.fixed-nav.affix .navbar .nav .dropdown-menu li a {
        padding-left:22px !important;
    }

    #masthead.fixed-nav.affix .navbar .nav .dropdown-menu li a:hover, 
    #masthead.fixed-nav.affix .navbar .nav .dropdown-menu li a:active, 
    #masthead.fixed-nav.affix .navbar .nav .dropdown-menu li a:focus {
        padding-left:19px !important;
    }

}

.navbar .nav li.search {
    display: none;
}

.container1{
    width:100% !important; 
}

#footer .management {
    clear: both;
    /*margin-bottom: 70px;*/
}

@media (max-width: 979px) {
    .search-bar {
        margin-top: 4px;
    }
    .navbar-inverse .navbar-inner {
        background: #2d2d2d;
    }
}

/**********************************/
body .addthis-smartlayers {
    display: none !important;
}

@media (min-width: 460px) and (max-width: 767px) {
    .entry-container .entry-content {
        padding: 50px;
        padding-right: 20px;
    }
}


/**********************************/

.site-footer .cloud-label-widget-content .label-size-2,
.site-footer .cloud-label-widget-content .label-size-1 {
    display:none;
}

.site-footer .cloud-label-widget-content .btn {
    float: right;
    color: black;
    margin-top: 1em;
}


/**********************************/

.social-button {
    background-color: #D6D7D6;
    display: inline-block;
    width: 33px;
    height: 32px;
    line-height: 33px;
    border-radius: 16px;
    -o-transition: all .20s linear;
    -webkit-transition: all .20s linear;
    -moz-transition: all .20s linear;
    transition:  all .20s linear;
    cursor: pointer;
    text-align: center;
}

.social-button.facebook:hover {
    color:white;
    background-color: #3165A5;
}

.social-button.twitter:hover {
    color:white;
    background-color: #42AAE7;
}

.social-button.linkedin:hover {
    color:white;
    background-color: #0075B5;
}

.social-button.plurk:hover {
    color:white;
    background-color: #EF4539;
}

.social-button.google-plus:hover {
    color:white;
    background-color: #DE4939;
}

.social-button.github:hover {
    color:white;
    background-color: black;
}

.social-button.android:hover {
    color:white;
    background-color: #a4c639;
}

.social-button.chrome:hover {
    color:white;
    background-color: #4286F7;
}

.social-button.rss:hover {
    color:white;
    background-color: #F78631;
}

.social-button.addthis:hover {
    color:white;
    background-color: #FF5D39;
}

/***********************/
.pager .previous.hidden {
    visibility: hidden;
}

.pager li.link > span {
    width: 6em;
}

/***********************/
.gsc-control-cse {
    border-color: transparent !important;
    background-color: transparent !important;
    padding: 0 !important;
}

.gcse {
    float: left;
    /*margin-left: 30px;*/
    margin-top: 7px;
}

.nav-search {
     margin-top: 19px;
}

.nav-search .srch_btn {
    float: left;
}

.fixed-nav .nav-search .srch_btn {
    margin-top: -15px;
}

.cse .gsc-control-wrapper-cse, .gsc-control-wrapper-cse {
    width: 200px !important;
}

.gsc-search-button {
    display: none !important;
}

.gsc-input-box {
    border-radius: 0.5em;
}

.gsc-input-box input.gsc-input {
    opacity: 1 !important;
    border-width: 0;
}

.navbar .nav {
    margin-right: 0;
}