
.entry-content {
    line-height: 200%;
}

.entry-content > article > p {
    text-indent: 2em;
}

.entry-content h4 {
    font-size: 24pt;
    color:#BD8242;
    margin-top: 1.5em;
    margin-bottom: 1em;
}

.entry-content h5 {
    font-size: 20pt;
    color:#BD8242;

    margin-top: 1.5em;
    margin-bottom: 1em;
}

.entry-content h6 {
    font-size: 18pt;
    font-style: italic;
    color:#634121;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.entry-content hr {
    border-top: 3px solid #CE8A42;
    border-bottom: 0px solid #BD8A39;
}

.entry-content ul,
.entry-content li {
    margin-left: 2em !important;
    margin-top:0.5em !important;
    margin-bottom:0.5em !important;
}

.entry-content li {
    list-style: square !important;
    line-height: 200%;

}

.entry-content .post ol > li {
    list-style: decimal !important;
}

.entry-content blockquote {
    border-left-color: #F7EBDE;
}

.entry-content a {
    text-decoration: underline;
    color: #BD8242;
}

.entry-content h1 a {
    text-decoration: none;
    color: #333;
}

.entry-content table,
.entry-content table th,
.entry-content table td {
    /*border: 1px solid #BD8242;*/
}

.entry-content > article > table > tbody > tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}

.entry-content > article > table>tbody>tr>td,
.entry-content > article > table>tbody>tr>th, 
.entry-content > article > table>tfoot>tr>td,
.entry-content > article > table>tfoot>tr>th,
.entry-content > article > table>thead>tr>td,
.entry-content > article > table>thead>tr>th {
    padding: 8px;
    /*line-height: 1.42857143;*/
    vertical-align: top;
    border-top: 1px solid #ddd;
}

.entry-content > article > table>tbody>tr:first-of-type>td {
    border-top-width: 0;
}

.entry-content > article > table>tbody>tr:hover {
    background-color: #f5f5f5; 
}

#main .post > h3 {
    display: none;
}

#main .post .entry-image .thumb {
    width: 102%;
    max-width: 102%;
}

/* ************************ */

#disqus_thread {
    overflow: hidden;
    background: #FFFFFF;
    border-bottom: 2px solid #DDDDDD;
    padding: 25px;
}

/* ************************ */

#Blog1_backlinks-container .comment-footer {
    margin-top: 10px;
}

#footer_bar_body {
    background: transparent;
}

/* *************************** */
.about-me .description {
    line-height: 1.5em;
}
.about-me .about-link {
    float: right;
    margin-bottom: 0.5em;
}
.about-me .social-media {
    margin-top: 0.5em;
    text-align: center;
    clear: both;
}
.about-me .email-subscribe {
    text-align: center;
    /*margin: 1em;*/
}

.about-me .widget-content {
    margin: 0 1em;
}

.about-me .email-subscribe td:first-of-type {
    text-align: left;
    padding-top: 0.7em;
}

.about-me .email-subscribe .follow-by-email-address {
    width: 95%;
}

.donation input[type="image"] {
    margin-top: 10px;
    margin-right: 10px;
}


#footerbar-popular-post .popular-posts > ul > dd {
    display:none;
}

#footerbar-popular-post .popular-posts > ul > dd:nth-of-type(1),
#footerbar-popular-post .popular-posts > ul > dd:nth-of-type(2),
#footerbar-popular-post .popular-posts > ul > dd:nth-of-type(3),
#footerbar-popular-post .popular-posts > ul > dd:nth-of-type(4),
#footerbar-popular-post .popular-posts > ul > dd:nth-of-type(5) {
    display:block;
}

.popular-posts {
    padding-bottom: 0.5em;
}

@media (max-width:979px) {
    #footer_bar {
        display: none;
    }
}

@media (max-width: 979px) {
    #menu-primary {
        background-color: #212021;
    }
    #menu-primary a {
        color:white;
    }
    .nav-collapse, .nav-collapse.collapse {
        top: -5px;
    }

}

.widget-content.popular-posts dd {
    margin-bottom: 0.5em;
    clear: both;
}
.widget-content.popular-posts img {
    float: left;
}

h1.title {
    font-size: 30px;
}
#header-inner .descriptionwrapper {
    font-size: 14px;
}

div.post-avatar {
    display:none;
}

.meta {
    margin-left: 0px !important;
}

/************************/
#content #archivespage ul {
    margin-left: 0 !important;
}

#content #archivespage li.archivedate {
    list-style: none !important;
}

/******************************/
/* 縮小寬度之下的導航列 */

.nav-search input.search_input,
.search-bar:hover .nav-search input {
    background-color: white;
    color: black !important;
    padding-left: 0.5em;
    border-radius: 3px;
    margin-top:27px;
}

.gsc-results-wrapper-overlay {
    line-height: 1.5em;
}

.gsc-results-wrapper-overlay .gcsc-branding {
    display: none;
}

.gsc-results-wrapper-overlay .gsc-cursor-box {
    text-align: center;
}

.gsc-results-wrapper-overlay .gsc-cursor .gsc-cursor-page {
    padding: 7px 10px;
    border: 1px solid gray !important;
    border-radius: 5px;
    cursor: pointer !important;
    color: gray !important;
    text-decoration: none !important;
}

.gsc-results-wrapper-overlay .gsc-cursor .gsc-cursor-page.gsc-cursor-current-page {
    color: black !important;
}

.gsc-results-wrapper-overlay .gsc-wrapper {
    max-height: calc(100% - 120px);
    overflow-y: auto;
}

.gsc-results-wrapper-overlay .gsc-wrapper > .gsc-adBlock {
    display: none;
}

#masthead.fixed-nav.affix .search-bar {
    padding-bottom: 0;
}

.gsc-results-wrapper-overlay .gsc-wrapper img.gs-image {
    width: 100% !important;
    height: auto !important;
    max-width: 100% !important;
    max-height: 100% !important;
    border: 1px solid gray;
}

.gsc-results-wrapper-overlay .gsc-wrapper a.gs-image {
    width: 176px;
}

.gsc-results-wrapper-overlay .gs-image-box.gs-web-image-box {
    width: 176px !important;
    height: auto !important;
    max-height: 176px;
    /*margin-right: calc(1em + 7px);*/
    top: -3em;
    margin-bottom: -3em;
    position: relative;
}

.gsc-results-wrapper-overlay div.gs-title,
.gsc-results-wrapper-overlay div.gsc-url-top {
    margin-left: calc(176px + 1em);
}

.gsc-results-wrapper-overlay div.gs-snippet {
    margin-left: 19px;
}

.gsc-results-wrapper-overlay td.gsc-table-cell-thumbnail.gsc-thumbnail {
    width: 176px;
    display: block !important;
}

/******************/

#header h1 {
    line-height:30px;
    margin-top: 10px;
}

#masthead.fixed-nav.affix #header h1 {
    line-height: 22px;
}

@media (max-width: 460px) {
    #header .description {
        display: none;
    }
    #header {
        /*margin-top: 15px;*/
        margin-right:0 ;
        max-width: calc(100% - 101px);
        margin-left: 5px;
        overflow-x: hidden;
        white-space: nowrap;
    }

    #masthead {
        height: auto;
    }


    #header h1{
        line-height:55px;
        margin-top: 0;
    }
}

@media (max-width: 680px) {
    .search-bar {
        /*display: none;*/
        position: absolute;
        top: -1000px;
    }
    
    
    /*********************/
    .navbar .nav li.search {
        display: list-item !important;
    }

    .navbar .nav li.search form {
        margin: 0;
    }

    .navbar .nav li.search input {
        width: calc(100% - 100px);
        /*margin: 0 18px;*/
    }

    .navbar .nav li.search .srch_btn {
        height: 42px;
        width: 23px;
        margin-top: 0;
        background: url(//3.bp.blogspot.com/-h-x1pzE69JE/U5sUcTyNfAI/AAAAAAAAAdg/PYKJ6twHM1M/s1600/search-icon.png) 2px center no-repeat;
        text-indent: 9999px;
        position: relative;
        float: left;
        margin-left: 18px;
        margin-right: 10px;
        margin-top: -5px;
        display: inline !important;
        border-width: 0;
    }
    /*
    .search-bar {
        clear: both;
        padding-top: 0;
        padding-bottom: 5px;
    }
    .search-bar form {
        margin: 0;
    }
    .nav-search input {
        margin-top: 5px;
    }
    .navbar .btn-navbar {
        margin-bottom: 0;
    }

    .search-bar:hover .nav-search input {
        width:100%;
    }
    */
}

@media (max-width: 979px) {
    #header #header-inner{
        margin-left: 10px !important;
        margin-top: 15px;
    }
}

@media (max-width: 979px) {

    #content-wrapper {
        padding-top: 100px;
    }

    .nav-collapse.in.collapse .dropdown .dropdown-toggle {
        display:none;
    }

    .nav-collapse .dropdown-menu {
        display: block;
        margin: 0;
    }

    .navbar .nav .dropdown-menu li a {
        padding-left:18px !important;
    }

    .navbar .nav .dropdown-menu li a:hover, .navbar .nav .dropdown-menu li a:active, .navbar .nav .dropdown-menu li a:focus {
        border-left: 3px solid #85CCB1;
        padding-left:15px !important;
    }

    .navbar .nav .dropdown-menu li.active, .navbar .nav .dropdown-menu li:hover {
        background: none repeat scroll 0 0 rgba(255,255,255,0.02);
        color: #fff;
    }


    /************/
    #masthead {
        position: fixed !important;
    }

    #masthead.fixed-nav.affix .btn-navbar {
        margin-top: 5px;
        margin-bottom: 0;
    }

    #masthead.fixed-nav.affix #header h1 {
        line-height: 40px;
        margin-top: 0 !important;
    }

    #masthead.fixed-nav.affix #header-inner {
        margin-top: 10px !important;
    }

    #masthead.fixed-nav.affix .navbar .nav .dropdown-menu li a {
        padding-left:22px !important;
    }

    #masthead.fixed-nav.affix .navbar .nav .dropdown-menu li a:hover, 
    #masthead.fixed-nav.affix .navbar .nav .dropdown-menu li a:active, 
    #masthead.fixed-nav.affix .navbar .nav .dropdown-menu li a:focus {
        padding-left:19px !important;
    }

}

.navbar .nav li.search {
    display: none;
}

.container1{
    width:100% !important; 
}

#footer .management {
    clear: both;
    /*margin-bottom: 70px;*/
}

@media (max-width: 979px) {
    .search-bar {
        margin-top: 4px;
    }
    .navbar-inverse .navbar-inner {
        background: #2d2d2d;
    }
}

/**********************************/
body .addthis-smartlayers {
    display: none !important;
}

@media (min-width: 460px) and (max-width: 767px) {
    .entry-container .entry-content {
        padding: 50px;
        padding-right: 20px;
    }
}


/**********************************/

.site-footer .cloud-label-widget-content .label-size-2,
.site-footer .cloud-label-widget-content .label-size-1 {
    display:none;
}

.site-footer .cloud-label-widget-content .btn {
    float: right;
    color: black;
    margin-top: 1em;
}


/**********************************/

.social-button {
    background-color: #D6D7D6;
    display: inline-block;
    width: 33px;
    height: 32px;
    line-height: 33px;
    border-radius: 16px;
    -o-transition: all .20s linear;
    -webkit-transition: all .20s linear;
    -moz-transition: all .20s linear;
    transition:  all .20s linear;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.social-button.facebook:hover {
    color:white;
    background-color: #3165A5;
}

.social-button.twitter:hover {
    color:white;
    background-color: #42AAE7;
}

.social-button.linkedin:hover {
    color:white;
    background-color: #0075B5;
}

.social-button.plurk:hover {
    color:white;
    background-color: #EF4539;
}

.social-button.line:hover {
    color:white;
    background-color: #4ACF00;
}

.social-button.google-plus:hover {
    color:white;
    background-color: #DE4939;
}

.social-button.chrome:hover {
    color:white;
    background-color: #42556B;
}

.social-button.github:hover {
    color:white;
    background-color: black;
}

.social-button.android:hover {
    color:white;
    background-color: #a4c639;
}

.social-button.chrome:hover {
    color:white;
    background-color: #4286F7;
}

.social-button.rss:hover {
    color:white;
    background-color: #F78631;
}

.social-button.addthis:hover {
    color:white;
    background-color: #FF5D39;
}

/***********************/
.pager .previous.hidden {
    visibility: hidden;
}

.pager li.link > span {
    width: 6em;
}

/***********************/
.gsc-control-cse {
    border-color: transparent !important;
    background-color: transparent !important;
    padding: 0 !important;
}

.gcse {
    float: left;
    /*margin-left: 30px;*/
    margin-top: 7px;
}

.nav-search {
     margin-top: 19px;
}

.nav-search .srch_btn {
    float: left;
}

.fixed-nav .nav-search .srch_btn {
    margin-top: -15px;
}

.cse .gsc-control-wrapper-cse, .gsc-control-wrapper-cse {
    width: 200px !important;
}

.gsc-search-button {
    display: none !important;
}

.gsc-input-box {
    border-radius: 0.5em;
}

.gsc-input-box input.gsc-input {
    opacity: 1 !important;
    border-width: 0;
}

.navbar .nav {
    margin-right: 0;
}

/******************************************/
@media print {
    #masthead {
        border-bottom: 1px solid gray;
        position: static !important;
    }
    
    #masthead.fixed-nav {
        position: static !important;
        height: 82px;
    }
    
    #masthead.fixed-nav.fixed-nav h1 {
        line-height: 30px;
        margin-top: 10px;
        font-size: 30px;
    }
    
    #masthead .gcse,
    #masthead .btn-navbar,
    #masthead #menu-primary {
        display:none;
    }
    
    #masthead #header-inner {
        width: 100% !important;
        padding-left: 0;
    }
    #masthead .titlewrapper {
        float: left;
    }
    #masthead .title a {
        text-decoration: none;
    }
    
    #masthead .title a:after {
        content: "";
    }
    
    #masthead .descriptionwrapper {
        width: max-content;
        /*padding-top: 20px;*/
        padding-left: 18em;
        padding-top: 5px;
    }
    
    #masthead.fixed-nav.affix #header-inner .descriptionwrapper {
        display: block;
    }
    
    #masthead .descriptionwrapper:after {
        content:attr(url);
        display:block;
        text-decoration: underline;
    }
    
    #masthead .description {
        margin-bottom: 0;
    }
    
    /****************/
    
    .row {
        margin-left: 0;
    }
    
    #content {
        margin-left:0;
    }
    
    #content-wrapper {
        padding-top: 0;
    }
    
    /*****************/
    
    #main .read-more,
    #main .share-story-container,
    #main a[name="more"],
    #main .related_posts,
    #main .blogger-comment-from-post,
    #main #backlinks-container {
        display: none;
    }
    
    #main .post a[href]:after{
        content:" (" attr(href) ") ";
        font-size:0.8em;
        font-weight:normal;
        text-decoration: underline !important;
    }
    
    #main .post .entry-content .meta1 a:after,
    #main .post .entry-content a[href$=".png"]:after,
    #main #comments a[href]:after,
    #main .post a[href="javascript:void(0)"]:after,
    #main .post a[href^="#"]:after,
    #main .post a.toggle:after,
    #main .post #ArchiveList a.post-count-link:after {
        content: "";
    }
    
    #main .post a[href^="#"] {
        display: none;
    }
    
    #main .post .puli-toc a[href^="#"] {
        display: inline;
    }
    
    
    #main #comments h4:after {
        border-top-width: 0;
    }
    
    #main .post:last-of-type {
        margin-bottom: 0;
    }
    
    #main .post h4,
    #main .post h5,
    #main .post h6 {
        page-break-before: avoid;
    }
    
    #main .post table {
        page-break-inside: avoid;
    }
    
    #main .post .entry-content {
        padding-left:0;
        padding-right:0;
    }
    
    #main .entry-meta {
        display: none;
    }
    
    #main #comments {
        border-bottom-width: 0;
    }
        
    /*********************/
    #sidebar {
        margin-left: 0;
    }
    
    #sidebar .about-me img[align="right"] {
        float:left;
        margin-left: 0;
        margin-right: 0.5em;
        
    }
    
    #sidebar .about-me .widget-content {
        margin-top: 0.5em;
    }
    #sidebar .about-me .about-link,
    #sidebar .about-me .email-subscribe {
        display: none;
    }
    
    #sidebar .about-me a:after {
        content: "";
    }
    
    #sidebar .about-me .social-media div {
        text-align: left;
        padding-right:0 !important;
        padding-left:0 !important;
        margin-bottom: 0 !important;
    }
    
    #sidebar .about-me .social-media div .social-button-wrapper {
        display: block;
        text-align: left;
    }
    #sidebar .about-me .social-media div .social-button-wrapper a {
        display: inline;
    }
    
    #sidebar .about-me .social-media div .social-button.google-plus,
    #sidebar .about-me .social-media div .social-button.plurk,
    #sidebar .about-me .social-media div .social-button.linkedin,
    #sidebar .about-me .social-media div .social-button.twitter,
    #sidebar .about-me .social-media div .social-button.github,
    #sidebar .about-me .social-media div .social-button.android,
    #sidebar .about-me .social-media div .social-button.chrome,
    #sidebar .about-me .social-media div .social-button.rss {
        display: none;
    }
    
    #sidebar .about-me .social-media div a:after {
        content: " " attr(title) ": " attr(href) "";
        margin-left: 1em;
    }
    
    #sidebar .about-me .social-media div a.email:after {
        content: " " attr(href) "";
    }
    
    #sidebar .popular-posts a[rel="bookmark"] {
        text-decoration: none;
    }
    
    #sidebar .popular-posts a[rel="bookmark"]:after {
        content: attr(href);
        text-decoration: underline;
        display: block;
    }
    
    #sidebar .guestbook a[href]:after,
    #sidebar .new a[href]:after,
    #sidebar .comments a[href]:after {
        content: "";
    }
    
    #sidebar .guestbook,
    #sidebar .comments,
    #sidebar .new,
    #sidebar .PopularPosts {
        display: none;
    }
    
    #sidebar .widget {
        page-break-inside: avoid;
    }
    
    /**********************************/
    #content-wrapper {
        margin-bottom: 0;
    }
    
    .site-footer #footer-body,
    .site-footer .management,
    .site-footer .go-top,
    .site-footer .container {
        display: none;
    }
    
    .site-footer a:after {
        content: "";
    }
    
    /*************************************/
    #footer .container {
        padding: 0;
    }
    #footer p {
        text-align: center;
        width: 100%;
    }
    
    #footer p a:after {
        content: " " attr(href) "";
    }
    
    #footer .themexpose {
        display: none;
    }
    
    /*****************************/
    a.quickedit {
        display: none;
    }
    
    a:after {
        white-space:nowrap;
    }
    
    body > .sumome-share-client-wrapper {
        display: none;
    }
}

/********************/
@media (max-width: 460px) {
    body {
        font-size: 1rem;
    }
    
    #masthead.fixed-nav.affix {
        /*padding-top: 27px;*/
    }
    
    #masthead .btn-navbar {
        margin-right: 5px;
    }
    
    #masthead #menu-primary {
        padding-top: 27px;
    }
    
    #masthead .nav-collapse, #masthead .nav-collapse.collapse {
        top: 0;
    }
    
    #masthead #header {
        /*border:1px solid red;*/
        max-width: calc(100% - 110px);
    }
    
    #masthead #header-inner {
        margin-left: 0 !important;
    }
    
    #masthead #header h1 {
        font-size: 25px;
    }
    
    
    /***********************/
    
    #main .share-story {
        display: none;
    }
    
    #main .post h1 {
        font-size: 1.5rem;
        line-height: 2rem;
    }
    
    
    #main .post .entry-content p {
        font-size: 1rem;
    }
    
    #main .read-more {
        width: 100%;
        text-align: center;
        margin: 0;
        padding-left: 0;
        padding-right: 0;
    }
    
    #main .entry-meta {
        border-top-width: 0;
        padding-top: 0;
    }
}

/**********************************/
/* 來處理SumoMe的問題 */
body > a[title="SumoMe"] {
    visibility: hidden;
}

body > div.sumome-share-client-counts a[title="SumoMe"] > img {
    display: none;
}
body > div.sumome-share-client-counts a[title="SumoMe"] {
    background-image: url(//lh3.googleusercontent.com/-qWpis5y0_fQ/Vwp4Y1ies0I/AAAAAAACuvg/9VCLXE9q7Wk/s0/share-alt.png) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

body > div.sumome-share-client-wrapper.sumome-share-client-wrapper-left-page {
    top: 100px !important;
}

body > div.sumome-share-client-counts div.sumome-share-client-animated {
    border: 1px solid rgb(15, 82, 186);
}

@media (max-height: 320px) {
    body > div.sumome-share-client-wrapper {
        display: none;
    }
}

/*********************************/
/* 底部按鈕的問題 */
#footer .go-top {
    position: fixed;
    right: 1em;
    bottom: 1em;
    z-index: 999;
}

#footer .go-top a {
    background-color: #B58231;
}

@media (max-height: 320px) {
    #footer .go-top {
        position: static;
    }
}

/**************************/

a[name][id]:target,
a[name="more"]:target {
    margin-top: -60px;
    position: absolute;
}