
#main .entry-content > article > p:first-of-type > a[href$=".png"]:first-of-type {
    margin-left: -2em;
    display: block;
    text-align:center;
}

#main .entry-content, 
#main .entry-content li {
    word-wrap: break-word;
}

/************************************/

@media (min-width:767px) {
    #side-bar {
        /*display: none;*/
        width: 100%;
    }
    
    #sidebar > div.widget {
        float: left;
        width: calc(33% - 0.6em);
        margin-right: 1.2em;
    }
    
    #sidebar > div.widget .widget-content {
        min-height: 360px;
        max-height: 360px;
        overflow-y: auto;
        margin-bottom: 0;
    }
    
    .sidebar .widget {
        margin-bottom: 0;
    }
    
    #sidebar > div.widget:nth-of-type(4) {
        margin-right: 0;
    }
    
    #sidebar > .comments,
    #sidebar > .guestbook {
        display: none;
    }
    
    #content {
        width: 100% !important;
        max-width: 1170px;
    }
    
    .popular-posts {
        padding-bottom: 0;
    }
}

@media (min-width:767px) and (max-width: 979px) {
    #side-bar {
        margin-left: 0 !important;
    }
    
    #sidebar > div.widget,
    #sidebar > div.widget:nth-of-type(4) {
        width: calc(50% - 0.5em);
        margin-right: 1em;
    }
    
    #sidebar > div.widget:nth-of-type(2), 
    #sidebar > div.widget:nth-of-type(5) {
        margin-right: 0;
        clear: none;
    }
    
    #sidebar > div.widget:nth-of-type(1), 
    #sidebar > div.widget:nth-of-type(4) {
        clear: both;
        margin-bottom: 1em;
    }
    
    #sidebar > .comments {
        display: block;
    }
}

#side-bar {
    margin-left: 30px;
}

@media (min-width: 767px) {
    #side-bar {
        max-width: 1170px;
    }
}

@media (max-width: 1200px) {
    #side-bar {
        margin-left: 20px;
    }
}

@media (min-width: 979px) and (max-width: 1200px) {
    #sidebar > div.widget {
        width: calc(33% - 0.5em);
        margin-right: 1em;
    }
}

body .addthis-smartlayers {
    display: block !important;
}

.at4-thankyou-background .at4lb-inner {
    display: none !important;
}

/*************************/

@media print {
    #masthead {
        margin-bottom: 0;
    }
    
    /****************************/
    #main .post {
        margin-bottom: 0;
    }
    #main .blog-pager {
        display: none;
    }
    
    #main .entry-meta .author-meta .avatar-author,
    #main .entry-meta .author-meta .bl_popover {
        display: none;
    }
    
    #main .entry-meta .author-meta .creative-commons {
        width: 100%;
        margin-left: 0;
        /*font-size: 1em;*/
        line-height: 1.5em;
        text-align: center;
    }
    
    #main .entry-meta .author-meta .creative-commons a.img {
        display: block;
    }
    
    #main .entry-meta .author-meta .creative-commons img {
        float: none;
    }
    
    #main .entry-meta .author-meta .creative-commons a[href]:after {
        content: "";
    }
    
    #main .author-meta {
        max-width: 100% !important;
    }
    
    /*****************************/
    
    #comments {
        padding-bottom: 0;
    }
    
    #comments .blogger-comment-from-post {
        display: none !important;
    }
    
    /*****************************/
    #sidebar > div.widget {
        width: 100%;
    }
    
    #sidebar > div.widget .widget-content {
        min-height: max-content;
        max-height: max-content;
    }
    
    #sidebar > .comments {
        display: none;
    }
}

/************************************/

@media print and (min-width:1200px) {
    #primary {
        margin-left: 0px;
    }
}

/*************************************/

@media (min-width:767px) {
    #main .author-meta {
        max-width: calc(100% - 300px);
    }
    
}

#main .entry-meta .creative-commons {
    font-size: 0.8em;
    line-height: 1.5em;
    margin-left: 74px;
}

#main .entry-meta .creative-commons img {
    border-width: 0;
    float:left;
}

#main .entry-meta img.avatar-author {
    float:left;
}

#main .entry-meta h4 {
    line-height: 1em;
}

#main .entry-meta .creative-commons .title,
#main .entry-meta .creative-commons .author {
    text-decoration: underline;
    color: #BD8242;
    font-weight: bold;
}

@media (max-width: 460px) {
    #footer .management {
        margin-bottom: 70px;
    }
    
    body > .sumome-stylebufferbottom-shim {
        display: none;
    }
    
    #main .post h4 {
        font-size: 1.3rem;
        line-height: 1.5rem;
    }
    
    #main .post h5,
    #main .post h6 {
        font-size: 1rem;
        line-height: 1.5rem;
    }
    
    /*#main .entry-content > article > p > a[href$=".png"]:first-of-type img {
        max-height: 300px;
    }*/
    
}
/**************************/
@media (max-width: 767px) {
    #main .entry-container .entry-content {
        padding-bottom: 5px;
        padding-top: 1em;
    }
    
    #main .entry-meta {
        border-top-width: 1px;
    }
    
    #main .entry-content > article > p > a[href$=".png"]:first-of-type {
        margin-left: -2em;
        /*width: 100%;
        height: auto;*/
        /*max-height: 200px;*/
        display: block;
        text-align:center;
    }
    
    #main .entry-content a[href$=".png"]:first-of-type img {
        width: 80%;
        height: auto;
        /*max-height: 500px;*/
    }
    
    #main .entry-meta .author-meta {
        padding-left:0;
        text-align: center;
        /*display: none;*/
    }
    #main .entry-meta .avatar-author,
    #main .entry-meta .bl_popover {
        display: none;
    }
    
    #main .entry-meta .creative-commons {
        margin-left: 0 !important;
        line-height: 1.5em !important;
    }
    #main .entry-meta .creative-commons a.img {
        display: block;
        margin-top: 1.5em;
    }
    #main .entry-meta .creative-commons img {
        float: none;
        margin-left: 0;
    }
    
    .entry-meta img {
        margin-right:0;
    }
    
    .entry-meta .author-meta h4:after {
        content: attr(data-content);
        display:block;
        font-weight: normal;
        line-height: 1.5em;
    }
    
    .entry-meta .popover {
        display:none !important;
    }
    
    .entry-meta {
        padding-bottom: 0;
        padding-top: 0;
    }
    
    .share-story-container ul {
        margin-top:0;
    }
    
    #side-bar {
        margin-left:0;
    }
}

/*********************************/

#related-posts .item-img > a > img {
    max-width: 240px;
    width: 100% !important;
    height: auto !important;
}

#related-posts .item-img {
    max-height: 160px;
    overflow: hidden;
}

#related-posts .related-post-title {
    overflow-x: hidden;
    white-space: nowrap;
    background-color: black;
    color: white;
    padding-left: 10px;
}

/*************************************/
/* 20160528 最矮留言高度 */
#main div.comments#disqus_thread {
    min-height: 507px;
}

#main div.comments#comments {
    min-height: 378px;
}

/*************************************/
/* 20160601 加大About Me的高度 */
#sidebar .about-me h3 {
    margin-top: 1em;
    margin-bottom: 0.5em;
}

#sidebar .about-me .description {
    margin-bottom: 2em;
}
