
path.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

.marker {
    fill: #666;
}

circle {
  fill: #ccc;
  stroke: #fff;
  stroke-width: 3px;
}

text {
  fill: #000;
  font: 10px sans-serif;
  pointer-events: none;
}


.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  /*background: rgba(0, 0, 0, 0.8);*/
  color: #fff;
  border-radius: 2px;
  background-color: black;
  border: 2px solid white;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}