<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-GB">
<head profile="http://gmpg.org/xfn/11">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>{{Title}} | DropPages theme demo</title>
	<link href="/css/default.css" rel="stylesheet" media="all" type="text/css">
	<link href="/css/presets.css" rel="stylesheet" media="all" type="text/css">
	<link href="/css/client.css" rel="stylesheet" media="all" type="text/css">
	<!--[if IE 7]>
	<link href="/css/ie7.css" rel="stylesheet" type="text/css" media="screen" />
	<![endif]-->
	<!--[if lt IE 7]>
	<link href="/css/ie6.css" rel="stylesheet" type="text/css" media="screen" />
	<![endif]-->
	<script src="/js/jquery.min.js" type="text/javascript"></script>
	<script src="/js/oceanmist.js" type="text/javascript"></script>
</head>
<body>
	<div id="center">
		<div id="container">
			<div class="rightShade"></div>
			<div class="leftShade"></div>
			<div id="header">
				<p id="logo"><a href="/">DropPages Theme Demo</a></p>
				<p id="strapline">Please, have a look around</p>
			</div>
			<div id="photo">
				<img src="{{Image|/images/mainpic.jpg}}" alt="Ocean Mist" />
				<div id="nav">{{PrimaryNavigation}}</div>
			</div>
			<div id="content">
				<div id="mainCol">
					<div class="article">{{Body}}</div>
				</div>
				<div id="subCol">
					<ul>
						<li>
							<h2>About</h2>
							<p class="pad">The second generation of <a href="http://www.tenbytwenty.com/ocean-mist.php">this popular WordPress theme</a> has been months in development and has been completely re-built from the ground up.</p>
							<p class="pad">The theme has been redeveloped for the DropPages platform. Enjoy!</p>
						</li>
						<li class="pagenav">
							<h2>{{Title}}</h2>
							{{SecondaryNavigation}}
						</li>
						<li class="pagenav">
							<h2>Related Links</h2>
							<ul>
								<li><a href="http://droppages.com">DropPages.com</a></li>
								<li><a href="http://edmerritt.com">Ed Merritt</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			<div id="footer">
				  <p>DropPages demo ~ Ocean Mist</p>
			</div>
		</div>
	</div>
</body></html>